<table datatable id="table_terminal" [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="display table table-responsive-lg table-striped">
  <thead thead-light>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Model Number</th>
      <th scope="col">Issued To</th>
      <th scope="col">Owner Contact</th>
      <th scope="col">Issued On</th>
    </tr>
  </thead>
  <tbody>
      <tr *ngFor="let item of terminal">
          <th scope="row">{{item.id}}</th>
          <td>{{item.modelNumber}}</td>
          <td>{{item.issuedTo}}</td>
          <td>{{item.contact}}</td>
          <td>{{item.issuedOn}}</td>
        </tr>
  </tbody>
  <tfoot>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Model Number</th>
      <th scope="col">Issued To</th>
      <th scope="col">Owner Contact</th>
      <th scope="col">Issued On</th>
    </tr>
  </tfoot>
</table>