<div class="v-header container">
  <div class="fullscreen-video-wrap">
    <video [src]="video" autoplay="true" loop="true" muted></video>
</div>
<div class="header-overlay"></div>
  <div class="header-content">
    <form id="register-form" class="form" action="" method="POST" [formGroup]="registerForm" (ngSubmit)="submit()">
        <h3 class="text-center text-info">Register</h3>  
      <div class="form-group">
        <input type="text" class="form-control form-control-lg" id="fullname" placeholder="full name" formControlName="fullname" required>
      </div>
      <div class="form-group">
        <input type="text" class="form-control form-control-lg" id="username" placeholder="user name" formControlName="username" required>
      </div>
      <div class="form-group">
        <input type="email" class="form-control form-control-lg" id="email" placeholder="email" formControlName="email" required>
      </div>
      <div class="form-group">
        <input type="text" class="form-control form-control-lg" id="password" placeholder="password" formControlName="password" required>
      </div>
      <button type="submit" class="btn btn-primary btn-block">Register</button>
      <button type="button" class="btn btn-primary btn-block" (click)="loginForm()">Login</button>
    </form>
  </div>
</div>