<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Terminal</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarContent">
      <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" (click)="changeHome()">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item dropdown" dropdown>
              <a dropdownToggle class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">LogOut</a>
              <div *dropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" (click)="logOut()">LogOut</a>
              </div>
          </li>
      </ul>
    </div>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2">
          <div>
            <p (click)="changeAdd()"><img src="https://img.icons8.com/ios/48/000000/list-filled.png"> ADD</p>
            <p (click)="changeList()"><img src="https://img.icons8.com/material-outlined/48/000000/add-property.png"> LIST</p>
            <p (click)="changeSale()"><img src="https://img.icons8.com/ios/48/000000/sell-property.png"> SALES</p>
          </div>
        </div>
        <div class="col-sm-10">
          <router-outlet></router-outlet>
        </div>
    </div>
</div>
