<h4>Add POS</h4>
<form action="">
  <div class="row">
      <div class="form-group col-lg-3">
          <input type="text" class="form-control form-control-lg" placeholder="Serial Number" #serialNumber>
        </div>
        <div class="form-group col-lg-3">
            <input type="text" class="form-control form-control-lg" placeholder="Amount" #amount>
        </div>
        <div class="form-group col-lg-3">
            <input type="text" class="form-control form-control-lg" placeholder="Quantity" #quantity>
        </div>
        <button class="col-sm-2" (click)="addPos(serialNumber.value,amount.value,quantity.value)">ADD</button>
  </div>
  
</form>
<hr>
<div *ngIf="pos">
  <h4>POS Sales</h4>
  <table datatable>
    <thead>
      <tr>
        <th>#</th>
        <th>Serial Number</th>
        <th>Amount</th>
        <th>Quantity</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of pos|async">
        <th>{{item.id}}</th>
        <th>{{item.serialNumber}}</th>
        <th>{{item.amount}}</th>
        <th>{{item.quantity}}</th>
        <th><img src="https://img.icons8.com/color/50/000000/cancel.png" (click)="deletePos(item.id)"></th>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <th>#</th>
        <th>Serial Number</th>
        <th>Amount</th>
        <th>Quantity</th>
        <th>Delete</th>
      </tr>
    </tfoot>
  </table>
</div>
