<div class="v-header container">
  <div class="fullscreen-video-wrap">
    <video [src]="video" autoplay="true" loop="true" muted></video>
</div>
<div class="header-overlay"></div>
  <div class="header-content">
    <form id="login-form" class="form" action="" method="POST" [formGroup]="loginForm" (ngSubmit)="submit()">
      <h3 class="text-center text-info">Login</h3>
      <div class="form-group">
        <input type="text" class="form-control form-control-lg" id="username" placeholder="user name" formControlName="username" required>
      </div>
      <div class="form-group">
        <input type="password" class="form-control form-control-lg" id="password" placeholder="password" formControlName="password" required>
      </div>
      <button type="submit" class="btn btn-primary btn-block">Login</button>
      <button class="btn btn-primary btn-block" (click)="registerForm()">Register</button>
    </form>
  </div>
</div>
