.v-header {
  height: 100vh;
  display: flex;
  color: #fff;
}
.fullscreen-video-wrap{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.fullscreen-video-wrap video {
  min-width: 100%;
  min-height: 100%;
}
.header-overlay{
  height: 100vh;
  width: 100vw;
  background-color: #000095;
  opacity: 0.60;
  position: absolute;
  top:0;
  left: 0;
  z-index: 1;
}
.header-content{
  z-index: 2;
  margin: 5% auto;
}

.header-content form {
  border-radius: 5px;
  border:1px solid black;
  padding: 20px;
  background-color: rgb(235, 230, 230);
}