<div class="terminal">
    <form id="add-terminal" class="form" action="" method="POST" [formGroup]="addTerminal" (ngSubmit)="submit()">
      <h3 class="text-center text-info">Add</h3>
      <div class="form-group">
        <input type="text" class="form-control form-control-lg" id="modelNumber" placeholder="Model Number" formControlName="modelNumber" required>
      </div>
      <div class="form-group">
        <input type="text" class="form-control form-control-lg" id="issuedTo" placeholder="Issued To" formControlName="issuedTo" required>
      </div>
      <div class="form-group">
          <input type="text" class="form-control form-control-lg" id="contact" placeholder="Contact" formControlName="contact" required>
      </div>
      <button type="submit" class="btn btn-primary btn-block">Add</button>
    </form>
  </div>
