/* You can add global styles to this file, and also import other style files */
*{
    box-sizing: border-box;
  }
  body{
    margin: 0;
    font-family:'sans-serif';
    font-size: 1rem;
    line-height: 1.5;
    color: #333;
    overflow-x: hidden;
  }